.employeesContainer {
  position: relative;
  top: 60px;
  padding: 50px;
  justify-content: space-around;
  width: 100%;
  height: calc(100vh - 60px);
  display: flex;
  flex-wrap: wrap;
  overflow-y: hidden;
}
