.background {
  background: #f5f9fd;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* max-height: calc(100vh + 20px); */
  padding-top: 50px;
  /* margin-top:50px; */
}

/* .header {
  font-size: 34px;
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 30px;
  color: #92a4b8;
} */
/* 
.header button {
  color: white;
  width: 210px;
  height: 32px;
  background: #009ed2;
  border: 1px solid #009ed2;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  border-radius: 4px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.header button:hover {
  background-color: #004e80;
  color: white;
}

.hr {
  width: 79.5%;
  margin: 0 auto;
} */

.employees {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1400px;
  gap: 40px;
  flex-wrap: wrap;
  margin: 37px auto;
}

.paginationWrapper {
  text-align: center;
}

.paginationWrapper .paginatedBtns {
  padding: 8px 14px;
  background-color: #004e80;
  color: white;
  border: none;
  margin: 5px;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 50px;
}

.paginationWrapper .paginatedBtns.active {
  background-color: #009ed2;
}

.paginationButtons {
  width: 80%;
  height: 40%;
  list-style: none;
  display: flex;
  justify-content: center;
}

.paginationButtons a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid #004e80;
  color: #004e80;
  cursor: pointer;
}

.paginationButtons a:hover {
  color: white;
  background-color: #004e80;
}
.paginationActive a {
  color: white;
  background-color: #004e80;
}

@media only screen and (max-width: 500px) {
  .header {
    font-size: 30px;
  }
  .header button {
    width: 110px;
    height: 32px;
    font-size: 10px;
    line-height: 10px;
  }
}
