.sideBarOptionContainer {
  color: #92a4b8;
  font-size: 20px;
  font-weight: 500;
  width: 100%;
}

.sideBarOptionContainer .link {
  text-decoration: none;
  color: #92a4b8;
}

.sideBarOption {
  display: flex;
  align-items: center;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.sideBarOptionContainer:hover {
  cursor: pointer;
  background-color: #cfebf5;
  color: #00245d;
}

.sideBarIcon {
  margin-left: 2vw;
}

.sideBarTitle {
  margin-left: 15px;
}
