.background {
  background: #f5f9fd;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* max-height: calc(100vh + 20px); */
  padding-top: 150px;
  /* margin-top:50px; */
}

.employees {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1400px;
  gap: 40px;
  flex-wrap: wrap;
  margin: 37px auto;
}

@media only screen and (max-width: 500px) {
  .header {
    font-size: 30px;
  }
  .header button {
    width: 110px;
    height: 32px;
    font-size: 10px;
    line-height: 10px;
  }
}
