.side-bar-option-container {
  /* padding: 20px; */
  color: #92a4b8;
  font-size: 20px;
  font-weight: 500;
  width: 100%;
}

.side-bar-option {
  display: flex;
  align-items: center;
  width: 100%;
}

.side-bar-option:hover {
  cursor: pointer;
  background-color: #cfebf5;
  color: #00245d;
  width: 100%;
}

.side-bar-title {
  margin-left: 15px;
}
