.mainContentWrapper {
  display: flex;
  margin-top: 60px;
  min-height: calc(100vh - 60px);
}

.componentContainer {
  /* display: flex; */
  align-items: center;
  justify-content: center;
  background-color: #f5f9fd;
  /* overflow-y: scroll; */
  width: 100%;
}
