.app {
  text-align: center;
}

.header {
  background-color:rgb(255, 255, 255);
  min-height: 100vh;
  
  background-image: url("../../../public/quantox_logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left bottom -50px; ;
  font-size: calc(10px + 1vmin);
  color:black;
}
.fade{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.95);
}

.title{
  position: absolute;
  height: 100px;
  color:#0e472d;
  background-image: url("../../../public/quantox_logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 150px;
}
.btn button{
  width: 250px;
}
.btn button div{  
  width: 60px;
}

.logged{
  margin-bottom: 5px;
}
.p{
  margin-left: 80px;
  margin-top: 30px;
}
.span{
  color:#21af6f;
}
.logout{
  padding: 10px 30px;
  background-color: #eaf7c9;
  color: black;
  border: solid 1px transparent;
  cursor: pointer;
  width: 250px;
  box-shadow: rgb(0 0 0 / 24%) 0px 2px 2px 0px, rgb(0 0 0 / 24%) 0px 0px 1px 0px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}
.logout:hover{
  background-color: #7ba507;
  color: white;  
}